.image-tour figure {
	position: relative;
	background: #000;
	font-family: Arial;
	height: 200px;
	margin-bottom: 20px;
}
.image-tour figcaption {
	position: absolute;
	top: 30%;
	right: 40px;
	text-align: right;
	color: #e5e5e5;
	line-height: 16px;
	font-weight: bold;
	font-size: 20px;
	left: 10%;
	transition: 0.2s;
}
.image-tour img {
	opacity: .8;
}
.image-tour figcaption:hover {
	color: white;
	font-size: 30px;
}
.image-tour figcaption hr {
	border: none;
	border-bottom: 1px solid #c9c9c9;
	margin-top: 10px;
	margin-right: 0px;
	width: 100%;
}
.image-tour figcaption strong {
	font-size: 16px;
}
.image-tour figcaption small {
	font-size: 19px;
	letter-spacing: 1px;
}
.image-tour figcaption div a {
	border: 1px solid #f5f5f5;
	width: 170px;
	padding: 5px 20px;
	color: white;
	font-weight: bold;
	font-size: 13px;
}