/*NAV STEPS*/
    @media (min-width: 768px){
    .checkout-steps {
    min-height: 145px;
    }
    }
    .checkout-steps {
    min-height: 115px;
    position: relative;
    -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.15);
    background: #f8f8f8;
        margin-bottom: 2%;
    }
    .checkout-steps ul {
    width: 100%;
    }
    .cart-content .checkout-steps .global, .checkout-steps .cart-content .global, .checkout-steps li, .checkout-steps ul {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    }
    @media (min-width: 768px){
    .ok-number {
    font-size: 15px;
    width: 33px;
    height: 33px;
    line-height: 33px;
    }
    }
    @media (max-width: 768px){
    .ok-number {
    font-size: 18px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    }
    }
    .tab-ckeck .ok-number{
       background-color: #007bff;
    }
    .ok-number {
    font-size: 11px;
    padding: 0;
    background-color: #64696e;
    /*#007bff*/
    color: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    text-align: center;
    }
    @media (min-width: 768px){
    .checkout-steps strong {
    top: 40px;
    font-size: 13px;
    }
    }
    @media (max-width: 768px){
    .checkout-steps strong {
    top: 30px;
    font-size: 13px;
    }
    }
    .checkout-steps strong {
    position: absolute;
    
    left: 50%;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
    color: #939393;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center
    }
    .checkout-steps hr, .checkout-steps li {
    display: inline-block;
    
    }
    .checkout-steps hr {
    height: 2px;
    width: 10%;
    border-color: #d4d4d4;
    border-style: dashed;
    border-width: 2px 0 0;
    margin: 0 10px;
    }